/* Class chung */
.noticeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: transparent;
    transition: all 0.3s ease;
    font-weight: 500;
    margin-bottom: 10px;
}

/* Mặc định span không hiển thị */
.noticeBox span {
    visibility: hidden;
    height: 0; /* Ngăn chiếm khoảng trống */
    overflow: hidden;
    display: block; /* Cho phép kiểm soát kích thước */
}

/* Khi có nội dung, span sẽ hiển thị */
.noticeBox span:not(:empty) {
    visibility: visible;
    height: auto; /* Chiều cao tự động */
}

/* Màu riêng cho lỗi */
.noticeBox.error {
    color: red;
}

/* Màu riêng cho thành công */
.noticeBox.success {
    color: rgb(0, 201, 77);
}
