@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.profile-setting {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}

.profile-setting .wrapper {
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px;
}

.profile-setting h4 {
    letter-spacing: -1px;
    font-weight: 400;
}

.profile-setting .img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}

.profile-setting #img-section p,
#deactivate p {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify;
}

.profile-setting #img-section b,
#img-section button {
    font-size: 12px;
}


.profile-setting .select2-container .select2-choice {
    max-width: 240px !important;
}

.profile-setting .select2-container{
    max-width: 240px !important;
}

div.profile-setting div.select2-container {
    max-width: 240px !important;
}


#img-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-setting label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
}

.profile-setting .form-control {
    border-radius: 10px;
}

.profile-setting input[placeholder] {
    font-weight: 500;
}

.profile-setting .form-control:focus {
    box-shadow: none;
    border: 1.5px solid #0779e4;
}

.profile-setting select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    /* -webkit-appearance: none; */
}

.profile-setting select:focus {
    outline: none;
}

.profile-setting .button {
    background-color: #fff;
    color: #0779e4;
}

.profile-setting .button:hover {
    background-color: #0779e4;
    color: #fff;
}

.profile-setting .btn-primary {
    background-color: #0779e4;
}

.profile-setting .danger {
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd;
}

.profile-setting .danger:hover {
    background-color: #e20404;
    color: #fff;
}

@media(max-width:576px) {
    .profile-setting .wrapper {
        padding: 25px 20px;
    }

    .profile-setting #deactivate {
        line-height: 18px;
    }
}


.profile-setting .upload-btn {
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    cursor: pointer;
    margin-top: 5px;
}

.profile-setting .upload-btn b {
    font-weight: bold;
    font-size: 10px;
}

.profile-setting .upload-btn:hover {
    background-color: #e0e0e0;
}







/* CSS */
.deactivate-button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.deactivate-button:hover,
.deactivate-button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.deactivate-button:active {
    opacity: .5;
}





/* CSS */
.save-button {
    align-items: center;
    background-color: #06f;
    border: 2px solid #06f;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.save-button:focus {
    color: #171e29;
}

.save-button:hover {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
}

.save-button:active {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
}

@media (min-width: 768px) {
    .save-button {
        min-width: 170px;
    }
}





/* CSS */
.cancel-button {
    align-items: center;
    background-color: #fff;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    color: #a1a4a7;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cancel-button:focus {
    color: #171e29;
}

.cancel-button:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.cancel-button:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

@media (min-width: 768px) {
    .cancel-button {
        min-width: 170px;
    }
}