.noticeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: transparent;
    transition: all 0.3s ease;
    font-weight: 500;
    margin-bottom: 17px;
    height: 40px;
}

/* Mặc định span không hiển thị */
.noticeBox span {
    visibility: hidden;
    height: 0; /* Ngăn chiếm khoảng trống */
    overflow: hidden;
    display: block; /* Cho phép kiểm soát kích thước */
}

/* Khi có nội dung, span sẽ hiển thị */
.noticeBox span:not(:empty) {
    visibility: visible;
    height: auto; /* Chiều cao tự động */
}

/* Màu riêng cho lỗi */
.noticeBox.error {
    color: red;
}

.btnLoginnow {
    --bs-btn-color: #fff;
    --bs-btn-bg: #9A1E22;
    --bs-btn-border-color: #9A1E22;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #FFE6D2;
    --bs-btn-hover-border-color: #FFE6D2;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #FFE6D2;
    --bs-btn-active-border-color: #FFE6D2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #9A1E22;
    --bs-btn-disabled-border-color: #9A1E22;
 }